<button [disabled]="disabled" class="w-full max-w-full h-[46px] flex flex-col md:flex-row items-center justify-center gap-[10px] 
 font-mono font-medium text-[14px] leading-none  align-middle cursor-pointer"
 [ngClass]="{
    'bg-blue-600 text-white ' :variant === 'primary',
    'bg-gray-200 text-gray-400 ': variant === 'secondary'}">

      <!-- Previous -->
       
    @if(direction ==='previous'){
    <lucide-angular [img]="ChevronLeft" class="w-[18px] h-[18px]"></lucide-angular>
    }
    {{label}}

      <!-- Next -->

    @if(direction === 'next'){
    <lucide-angular [img]="ChevronRight" class="w-[18px] h-[18px]"></lucide-angular>

    }

</button>