<section class="flex justify-items-start  flex-col  h-full gap-4 box-border ">
  <!-- Register info -->
  <header class="w-full max-w-113  flex items-center gap-2.5">

    <h1 class="font-inter font-bold
             text-[24px] md:text-[30px]
             leading-6 md:leading-7.5
             text-[#1F2937]">
      Create Account
    </h1>

  </header>
  <!-- Tell us more about you  Section -->
  <article class="w-full max-w-113 flex justify-center flex-col gap-2.5">

    <!-- Tell us more about you Title -->
    <h3 class="font-inter  font-bold text-[24px] leading-6 tracking-[0px] text-blue-600">
      Create a strong password </h3>
  </article>

  <!-- Form Container -->
  <div class="max-w-113 flex flex-col gap-4 py-4">
    <form [formGroup]="createPasswordForm" (ngSubmit)="onCreatePasswordFormSubmit()"
      class="w-full md:w-113 flex flex-col gap-4 py-4">
      <!--  password -->
      <div class="flex flex-col gap-1 w-full">

        <!-- Label -->
        <label class="font-geist-mono font-medium text-[16px] leading-4 text-gray-800">
          Password <span class="text-red-600">*</span>
        </label>

        <!-- Input -->
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" styleClass="w-full md:w-[452px] !rounded-none"
          inputStyleClass="h-[46px] w-full border border-[#E5E7EB] p-[10px] text-gray-800 placeholder:text-gray-400 placeholder:text-[14px] focus:outline-none !rounded-none">
        </p-password>

        <!-- Error -->
        <div class="text-sm font-medium text-[#DC2626] ">
          <lib-input-error [control]="createPasswordForm.get('password')" 
            [fieldName]="'password'"></lib-input-error>
        </div>



      </div>

      <!-- confirm password -->
      <div class="flex flex-col gap-1 w-full">

        <!-- Label -->
        <label class="font-geist-mono font-medium text-[16px] leading-4 text-gray-800">
          Confirm Password <span class="text-red-600">*</span>
        </label>

        <!-- Input -->

        <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true" styleClass="w-full md:w-[452px] !rounded-none"
          inputStyleClass="h-[46px] w-full border border-[#E5E7EB] !rounded-none  p-[10px] text-gray-800 placeholder:text-gray-400 placeholder:text-[14px] focus:outline-none">
        </p-password>


        <!-- Error -->
        <div class="text-sm font-medium text-[#DC2626] ">
          <lib-input-error [control]="createPasswordForm.get('confirmPassword')"
            [fieldName]="'Confirm Password'"></lib-input-error>
        </div>

         <!-- Server Error Message -->
    @if(errorMessage){
    <div class="relative ">
      <lucide-angular [img]="CircleX"
        class="absolute left-1/2 -top-0.5  transform -translate-x-1/2  w-[18px] h-[18px] text-[#DC2626] flex-shrink-0">
      </lucide-angular>
      <div class=" w-full max-w-[452px] h-fit px-[10px] py-[10px] mt-2
            border border-[#DC2626] bg-[#FEF2F2]
            flex items-center justify-center">

        <span class="font-geist font-normal text-[14px] leading-[18px] text-[#DC2626]">
          {{ errorMessage }}
        </span>
      </div>
    </div>

    }

      </div>
      <lib-auth-button [label]="'Create Account'" [disabled]="createPasswordForm.invalid"></lib-auth-button>
    </form>
  </div>
</section>
