

<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base ms-3 mt-3 text-sm p-2 focus:outline-none inline-flex sm:hidden">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
   </svg>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-[362px] flex flex-col gap-[60px]   h-full transition-transform -translate-x-full sm:translate-x-0 bg-blue-50  p-10" aria-label="Sidebar">
   <div class="w-fit h-fit flex flex-col gap-2.5">
            <img src="logo.png" alt="Elevate" class="h-[37px] w-auto brightness-0" />

            <div class=" flex items-center gap-2.5">
                <div class="w-fit min-w-[136px] min-h-[30px] flex items-center gap-2.5">
                    <lucide-angular [img]="FolderCode" class="w-6 h-6 text-[#155DFC]">
                    </lucide-angular>

                    <span class="font-semibold text-[20px] leading-5 text-[#155DFC]">
                        Exam App
                    </span>
                </div>


            </div>
        </div>
    <div class=" w-[282px] h-full overflow-y-auto flex flex-col gap-2.5 text-gray-500">
      <ul >
         <li>
            <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/diplomas"
                     routerLinkActive="border border-blue-500 bg-blue-100 text-[#155DFC]"
                    class="w-full min-h-[56px]  p-4 flex gap-2.5 outline-none ">
                    <lucide-angular [img]="GraduationCap" class="w-[24px] h-[24px]">
                    </lucide-angular>
                    <span>Diplomas</span></a>
         </li>
         <li>
            <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/"
                    routerLinkActive="border border-blue-500 bg-blue-100 text-[#155DFC]"
                    class="w-full min-h-[56px]  p-4 flex gap-2.5 outline-none ">
                    <lucide-angular [img]="UserRound" class="w-[24px] h-[24px]">
                    </lucide-angular>
                    <span>Account Settings</span></a>
         </li>
        
      </ul>
   </div>

    <!-- user -->
            <div class="w-full  flex mt-auto justify-between items-center">
                <div class="flex  gap-2.5 items-center ">
                    <img src="Profile_avatar.png" alt="user name" class="w-[54px] h-[54px] border border-blue-600">
                    <div class="flex flex-col gap-5">
                        <h6
                            class="font-mono font-medium text-[16px] leading-none tracking-normal text-right text-blue-600">
                            user name</h6>
                        <p
                            class="font-mono font-normal text-[14px] leading-none tracking-normal text-right text-gray-500">
                            user email</p>
                    </div>
                </div>
                <!-- menu -->
                <div  class="w-[28px] h-[28px] gap-2.5 ml-auto flex items-center justify-center">
                    <lucide-angular [img]="EllipsisVertical" class="w-[18px] h-[18px]  text-gray-500">
                    </lucide-angular>
                </div>

            </div>
</aside>

<div class="flex-1 min-h-screen bg-gray-50 p-4 sm:ml-[362px]">
           <router-outlet></router-outlet>

</div>
