<!-- Diplomas -->
<section class="w-full min-h-226.5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-2.5">
    <!-- card -->
    <div class="w-84 h-112 gap-2.5 bg-amber-300 relative">
        <img src="/Profile_avatar.png" alt="Flutter Development" class="w-full h-full object-cover" />
        <!-- content -->
        <div
            class="w-[316px] h-[98px] p-4 flex flex-col gap-2.5 bg-[#155DFCBF] backdrop-blur-md absolute bottom-2.5 left-1/2 -translate-x-1/2">
            <h4 class="font-mono font-semibold text-[20px] leading-none tracking-normal align-middle text-white ">
                Flutter Development</h4>
                <p class="font-mono font-normal text-[14px] leading-none tracking-normal align-middle text-white opacity-80">Discover Flutter, the game-changing framework that lets...</p>
          
        </div>
    </div>

</section>